@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hacen";
  src: url("/fonts/Hacen-Maghreb-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    @apply scroll-smooth;
  }

  html[lang="ar"] {
    font-family: "Hacen", sans-serif;
  }
}

@layer components {
  .containerPadding {
    @apply mx-auto px-4 md:px-6;
  }

  .background-bubbles {
    @apply before:content-[""]
    before:absolute
    before:top-0
    before:left-0
    before:w-[90%]
    before:h-[35%]
    md:before:w-[92%]
    md:before:h-[75%]
    before:bg-gradient-background
    before:rounded-br-[1000px]
    before:z-[-1]
    after:content-[""]
    after:absolute
    after:top-0
    after:right-0
    after:w-[80%]
    after:h-[40%]
    md:after:w-[85%]
    md:after:h-full
    after:bg-[#751813]/10
    after:rounded-bl-[1000px]
    after:z-[-1];
  }

  .mask-hero-top {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
