@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hacen";
  src: url("/fonts/Hacen-Maghreb-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    @apply scroll-smooth;
  }

  html[lang="ar"] {
    font-family: "Hacen", sans-serif;
  }
}

@layer components {
  .containerPadding {
    @apply mx-auto px-4 md:px-6;
  }

  .mask-hero-top {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
